@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h4>Highlights of the community</h4>
        <a asp-action="Locations">Locations</a> |
       
        <a asp-action="People">People</a> |
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div>
</body>
</html>
