@model List<Location>
@{

    ViewBag.Title = "Locations";
}


    <h2>@ViewBag.Title</h2>
    <h3>Important locations and links</h3>
    <table class="table table-sm table-striped table-bordered" border="1">
        <thead>
            <tr>
                <th>Location</th>
                <th>Description</th>

            </tr>
        </thead>
        <tbody>
            @foreach (Location location in Model)
            {
                <tr>
                    <td><a href=@location.Link>@location.Name</a></td>
                    <td>@location.Description</td>
                </tr>

            }
        </tbody>
    </table>

    <a href="/Home">Home</a>


