@model List<People>
@{

    ViewBag.Title = "People";
}


<!--link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" /-->

<h2>@ViewBag.Title</h2>
<h3>Significant people and links if available</h3>
<table>
    <thead>
        <tr style="padding: 5px;">
            <th>People</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody>
        @foreach (People people in Model)
        {
            <tr>
                <td><a href=@people.Link> @people.Name</a></td>
                <td>@people.Description</td>
            </tr>

        }
    </tbody>
</table>

<a href="/Home">Home</a>


