@{
    Layout = null;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    The Eugene Springfield Community Orchestra is one of the longest-lived orchestras in Lane County. Since the early 1960s, it has given local amateur musicians an opportunity to learn and perform. The group rehearses weekly between September and May, and gives at least three performances per year, in schools and retirement centers.
    <br /><br />
    In its 55-year history, the orchestra has performed under the baton of a succession of talented and enthusiastic conductors—local music educators—including Don Loftus, William Tweedy, Ray Morse, Philip Bayles, Chet Peterson, and, now, Richard Long. During Chet’s 16-year tenure, the group grew from fewer than 30 members to its current size of 70. He was responsible for welcoming a variety of professional soloists to perform concertos with the orchestra. These included violinists, cellists, clarinetists, and pianists. He also encouraged orchestra members to solo in concerto performances.
    <br /><br />
    At the June 7, 2016 performance, the guest soloist was clarinetist and outgoing conductor, Chet Peterson. He then passed the baton to Richard Long, who is currently working to bring the ensemble to a new level of accomplishment.
    <br /><br />
    The Eugene Springfield Community Orchestra gave its most recent concert on December 3, 2017, at Springfield High School.
</p>
