

@model Community.Models.Contact
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Contact : send messages</h4></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="ContactInputs" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="User.Name">Your name:</label>
                    <input class="form-control" asp-for="User.Name" />
                </div>
                <div class="form-group">
                    <label asp-for="User.Email">Your email:</label>
                    <input class="form-control" asp-for="User.Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Message">Your Message:</label>
                    <input class="form-control" asp-for="Message" />
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>