@model Community.Models.Contact
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Inputs</title>
</head>
<body>
    <p>
        <h2>Thanks, please check your message</h2><br />

        <h3>Your Name : @Model.Name</h3><br />

        <h3>Your Email : @Model.Email</h3><br />
        <h3>Your Message : @Model.Message</h3>
    </p>
    
</body>
</html>