@model List<Community.Models.Contact>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <title>Locations</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Contacts List</h2>
        <table class="table table-sm table-striped table-bordered" border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Contact contact in Model)
                {
                <tr>
                    <td>@contact.User.Name</td>
                    <td>@contact.User.Email</td>
                    <td>@contact.TimeStamp</td>
                    <td>@contact.Message</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    
    <a href="ContactInputs">Add a Contact</a><br />
    <a href="/Home">Home</a>
</body>
</html>
