@{
    
    ViewBag.Title = "ESCO";
}

<div class="text-center">
    <h3>Welcome to </h3>
    <h2><b>ESCO (Eugene Springfield Community Orchestra)</b></h2>
    <a asp-action="History">History</a> |

    <a asp-action="Contact">Contact</a> |


    <a asp-controller="Info" asp-action="Index">View Info</a>
</div>
