@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h4>Welcome to </h4>
        <h3><b>ESCO (Eugene Springfield Community Orchestra)</b></h3>
        <a asp-action="History">History</a>
        <br />
        <a asp-action="Contact">Contact</a>
        <br />

        <a asp-controller="Info" asp-action="Index">View Info</a>
    </div>
</body>
</html>
