

@model Community.Models.Message

@{
    Layout = "_ContactLayout";
    ViewBag.Title = "New Message";
}

<form class="p-a-1" asp-action="InputMessage" method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="From.Name" value=@ViewBag.UserName />
    <input type="hidden" asp-for="From.Email" value=@ViewBag.UserEmail />
    <input type="hidden" asp-for="IsReply" value="false" />

    <div class="form-group">
        <label asp-for="To.Name">Receiver Name:</label>
        <input class="form-control" asp-for="To.Name" />
    </div>
    <div class="form-group">
        <label asp-for="To.Email">Receiver Email:</label>
        <input class="form-control" asp-for="To.Email" />
    </div>
    <div class="form-group">
        <label asp-for="Text">Your Message:</label>
        <input class="form-control" asp-for="Text" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </div>
</form> 

       